<div class="col-md-6 offset-md-3">
    <h3> Update User </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label> id</label>
            <input type="text" class ="form-control" id = "id"
                [(ngModel)] = "user.id" name = "id">
        </div>
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "user.firstName" name = "firstName">
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "user.lastName" name = "lastName">
        </div>
    
        <div class="form-group">
            <label> Email</label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "user.email" name = "email">
        </div>
        <div class="form-group">
            <label> password</label>
            <input type="password" class ="form-control" id = "password"
                [(ngModel)] = "user.password" name = "password">
        </div>

        <div class="form-group">
            <label> phone</label>
            <input type="tel" class ="form-control" id = "phone"
                [(ngModel)] = "user.phone" name = "phone">
        </div>
    
        <button class = "btn btn-danger css" type ="submit">Submit</button>
    
    </form>
    </div> 