<h1>How to Integrate Google Maps in Angular 15</h1>
  
<google-map id="map" height="500px"
            width="900px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
            <map-marker [position]="markeur.position"></map-marker>
            <map-marker *ngFor="let m of markers" [position]="m.position"></map-marker>


<map-info-window></map-info-window>
            
</google-map>
  
<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
