/* Side Bar */
.class{
  color: #7149C6;
}

img {
    max-width: 100%;
  }
  
  .product-info .connect {
    margin: 15px 0 5px 0;
    
   

  }
  
  .product-info .connect button {
    margin-right: 15px;
  }