h1{
    background-color: #7149C6;
    color: #FC2947;
    text-align: center;
    margin-bottom: auto;
}
.commande{
    width: 100%;
    padding-top:100%;
    //background-color: rgba(227, 226, 234, 0.59);
    
    
  
}
